<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.our.project.ToDoList">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.our.project.ToDoList.NoteEditor"></activity>
        <activity android:name="com.our.project.ToDoList.note" />
        <activity android:name="com.our.project.ToDoList.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.our.project.ToDoList.ui.AddEditAlarmActivity" />
        <activity
            android:name="com.our.project.ToDoList.ui.AlarmLandingPageActivity"
            android:theme="@style/AlertLandingPageTheme" />

        <service android:name="com.our.project.ToDoList.service.LoadAlarmsService" />

        <receiver android:name="com.our.project.ToDoList.service.LoadAlarmsReceiver" />
        <receiver android:name="com.our.project.ToDoList.service.AlarmReceiver" />
        <receiver
            android:name="com.our.project.ToDoList.service.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="${bootPriority}">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>